@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .about_container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .about_container > *{
    margin: 2rem;
}

.about_content{
    color: #fff;
    transform: translateY(-50px);
}

.about_imgContainer{
    transform: translateY(50px);
}

.about_title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.about_border{
    position: absolute;
    /*make this width to 0 and check at the time of scrolling whether its being displayed or not oke */
    width: 34.5398%; 
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

@media (max-width: 850px){
    section .about_container{
        grid-template-columns: 1fr;
    }
}