@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

body {
    background-color: #010302;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
}

.container {
    overflow: hidden;
    height: max-content;

}

.banner {
    height: 50vw;
    position: relative;
    overflow: hidden;
}

.banner .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center bottom;
    transition: 0.1s;
}

.banner .bg:nth-child(1) {
    background-image: url(../images/banner_0.png);
}

.banner .bg:nth-child(2) {
    background-image: url(../images/banner_1.png);
}

.banner .bg:nth-child(3) {
    top: 32%;
    text-align: center;
}

.banner .bg:nth-child(3) h1 {
    color: #d1c3ae;
    font-size: 7vw;
    margin: 0;
    text-shadow: 0 0px 20px #d2af76;
}

.banner .bg:nth-child(4) {
    background-image: url(../images/banner_2.png);
}

.banner .bg:nth-child(5) {
    background-image: url(../images/banner_3.png);
}

section {
    width: 100%;
    background-color: #010302;
    position: relative;
}

section::before {
    background: linear-gradient(to top, #010302, transparent);
}

section .about_container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img {
    width: 100%;
}

section .about_container>* {
    margin: 2rem;
}

.about_content {
    color: #fff;
    transform: translateY(-50px);
}

.about_imgContainer {
    transform: translateY(50px);
}

.about_title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.about_border {
    position: absolute;
    /*make this width to 0 and check at the time of scrolling whether its being displayed or not oke */
    width: 34.5398%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}


/*
.tab {
    min-height: 100vh;
    background-color: #010302;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tab::before {
    position: absolute;
    height: 200px;
    width: 100vw;
    /*background: linear-gradient(to top, #010302, transparent);
    content: '';
    bottom: 100%;
    left: 0;
}

.tab.tab1 {
    background: linear-gradient(to top, #010302 0%, transparent 20%, #010302 80%), url(../images/tab1.png);
}

.tab.tab2 {
    background: linear-gradient(to top, #010302 0%, transparent 20%, #010302 80%), url(../images/tab2.png);
}

.tab.tab1 .content {
    width: 700px;
    max-width: 90%;
    color: #eee;
}

.tab.tab2 .content {
    color: #eee;
    width: 900px;
    max-width: 90%;
}

.tab.tab2 .content .des {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.header {
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
}

.header a {
    text-decoration: none;

}

.header h2 {
    color: white;
}

.header .logo {
    height: 3rem;
}

.navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
    color: #364fc7;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #f6f9fc;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

@media (max-width: 850px) {
    section .about_container {
        grid-template-columns: 1fr;
    }
}

/* 980px  */
@media (max-width: 62em) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }



    .header {
        position: relative;
    }

    .header .logo {
        width: 40%;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background: #070707;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;

    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        overflow-y: hidden;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}


@media (max-width: 35em) {
    .header {
        padding: 0 2.4rem;
    }

    .header .logo {
        width: 60%;
    }
}



body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#screenOpener {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    /* Set your desired background color */
    z-index: 9999;
}



.hidden {
    display: none;
}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(../bg2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    animation: animateBg 4s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}